swagger: "2.0"

info:
  title: ONS BI API
  description: Move your app forward with the Office of National Statistics Business Index API
  version: 1.0.0

host: biapi.ons.gov.uk

schemes:
  - https

basePath: /v1
produces:
  - application/json

paths:
  /search:
    get:
      summary: Search for a busines
      description: Returns a list containing all businesses that match the search query. The list supports paging.
      parameters:
       - name: query
         in: query
         required: true
         type: string
       - name: offset
         in: query
         type: number
         format: int32
         description: Position in pagination.
       - name: limit
         in: query
         type: number
         format: int32
         description: Number of items to retrieve (defaults to 100, 1000 max).
      responses:
        200:
          description: An array of businesses
          schema:
            type: array
            items:
              $ref: '#/definitions/Business'
        204:
          description: When no match.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  Business:
    type: object
    properties:
      businessName:
        type: string
      uprn:
        type: integer
        format: int64
      industryCode:
        type: integer
        format: int64
      legalStatus:
        type: integer
        format: int32
      tradingStatus:
        type: integer
        format: int32
      turnover:
        type: string
      employmentBands:
        type: string
  Error:
    type: object
    properties:
      status:
        type: integer
        format: int32
      code:
        type: string
      message_en:
        type: string
        description: The error message in English.